<!DOCTYPE html>
{% load static %}

<html>
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<title>EMS | {% block title %} {% endblock %}</title>
	<link rel="stylesheet" href="{% static 'events/css/style.css' %}" type="text/css">
	<link rel="stylesheet" href="{% static 'events/css/bootstrap.min.css' %}" type="text/css">
</head>
<body>

	<!-- Branding Container -->
	<div class="container-fluid">
		<div class="row branding">
			<div class="col-md-10">
				<h1><a href="{% url 'events:index' %}"> Events Management System </a></h1>
			</div>
			<div class="col-md-2 text-right">
				{% if user.is_authenticated %}
					Hi <b> {{ user.username }}! </b> | 
					<a href="/accounts/logout/" class="btn btn-danger btn-sm">Logout</a>
				{% endif %}
			</div>
		</div>
	</div>
	<hr>

	<!-- Body Container -->
	<div class="container">
		
		{% if messages %}
		<div class="row">
			<div class="col-md-12">
				{% for message in messages %}
					<div class="alert alert-primary alert-dismissible fade show" role="alert">
						<p> {{ message }} </p>
						<button type="button" class="close" data-dismiss="alert" aria-label="Close">
    					<span aria-hidden="true">&times;</span>
					</div>
				{% endfor %}
			</div>
		</div>
		{% endif %}
		
		<div class="row">
			{% block actions %}{% endblock %}
		</div>

		<div class="row">
			{% block content %} {% endblock %}
		</div>
	</div>
	
	<!-- Footer Container -->
	<div class="container-fluid">
		<div class="row footer">
			<div class="col-md-12 text-center">
				events management system assignment
			</div>
		</div>
	</div>

</body>
</html>

<script src="{% static 'events/js/jquery-3.5.1.js' %}"></script>
<script src="{% static 'events/js/bootstrap.min.js' %}"></script>