a {
	text-decoration: none;
}

.footer {
	background-color: black;
	color: gray;
	padding: 50px;
}

.calendar {
	background-color: rgb(0,0,255,0.5);
}

.login-box {
	padding: 80px;
}

.register-box {
	padding: 80px;
}